<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{about}}</p>
        <img class="portrait" src="img/profile_pic1.jpg">
        <p>{{name}}<br>Software Engineer | B.S. Computer Science</p>
    </div>

    {{>footer}}
</body>
</html>