<!DOCTYPE html>
<html>
<head>
    <title>about</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>ABOUT</h1>
    <p>Created By: {{name}}</p>
    <img src="img/meAndMima.jpg">
</body>
</html>